* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container {
  flex: 1;
}

.topnav {
  background-color: #6db649;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  position: relative;
}

.topnav h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.topnav small {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  padding: 0;
  display: block;
  line-height: 1; 
}

.topnav h1 + small {
  margin-top: 0;
}

.Home_button {
  height: 50px; 
  width: 50px;
  position: absolute;
  left: 10px; 
  top: 50%;
  transform: translateY(-50%);
}

.image-gallery {
  display: flex;
  justify-content: center;
  gap: 25px; 
  padding: 25px;
  flex-wrap: wrap; 
}

.image-container {
  position: relative;
  width: 373px; 
  height: 675px; 
  overflow: hidden;
  border-radius: 25px;
  transition: transform 0.3s ease; 
}

.image-container:hover {
  transform: scale(1.1); 
}

.thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shop_listing {
  display: flex;
  gap: 25px;
  padding: 25px;
  justify-content: center;
}

.shop_listing_image {
  border-radius: 25px;
  width: 300px; 
  height: 300px;
  object-fit: cover;
  transition: transform 0.3s ease; 
}

.shop_listing_image:hover {
  transform: scale(1.05); 
}

.footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.footer nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer nav ul li {
  display: inline;
  margin: 0 15px;
}

.footer nav ul li a {
  text-decoration: none;
  color: #333;
}

.footer nav ul li a:hover {
  text-decoration: underline;
}

.tool_box {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.tool_box img {
  border-radius: 25px;
  height: 500px; 
  width: 600px; 
  object-fit: cover;
}

.tool_box h1 {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  margin: 0;
  position: absolute;
  top: 125px;
  left: 650px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  font-weight: 500;
}

.tool_box small {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  position: absolute;
  top: 220px;
  left: 650px;
  font-family: 'Roboto', sans-serif;
  display: flex;
}

.tool_box hr {
  border-top: 1px solid #bbb;
  border-radius: 5px;
  top: 200px;
  left: 650px;
  width: 770px;
  position: absolute;
}